@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-theme;
  }
  .green-btn {
    @apply rounded bg-buttonGradient text-white font-bold py-4 px-10;
  }
  .heading {
    @apply font-semibold text-2xl sm:text-3xl md:text-4xl text-darkGreen;
  }
  .para {
    @apply font-light text-darkGray font-poppins;
  }
  .banner-heading {
    @apply text-white text-4xl sm:text-5xl font-bold text-center;
  }
  .input-label {
    @apply text-[#262424] sm:text-lg font-medium;
  }
  .input {
    @apply w-full px-4 sm:px-6 py-3 sm:py-4 rounded-md font-poppins text-sm font-light placeholder-placeholderColor;
  }
}

.bg-image {
  background-image: url("../public/assets/homebanner.png");
}

.contact-bg {
  background-image: url("../public/assets/contactbanner.png");
}

.gallery-bg {
  background-image: url("../public/assets/gallerybanner.png");
}

.blog-bg {
  background-image: url("../public/assets/blogbanner.png");
}
